name: 'Workflow'

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  workflow:
    name: 'Workflow'
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
      - name: checkout
        uses: actions/checkout@v3
      - name: build
        uses: docker/build-push-action@v5
        with:
          push: false
          tags: 'utsuki-bot-net'
          file: Dockerfile
      - name: stop previous services
        run: docker compose down
      - name: run with docker-compose
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DISCORD_TOKEN_UTSUKI: ${{ secrets.DISCORD_TOKEN_UTSUKI }}
          AI_ENDPOINT: ${{ secrets.AI_ENDPOINT }}
          AI_TOKEN: ${{ secrets.AI_TOKEN }}
          API_KEY_WEATHER: ${{ secrets.API_KEY_WEATHER }}
        run: docker compose up -d
      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}